# Useless file, not working.
includes:
  - ../../../core/phpstan-baseline.neon
parameters:
  level: 7
	paths:
		- src
		- tests/src
	ignoreErrors:
		# upstream problems
		- '#Access to an undefined property Drupal\\Core\\Field\\FieldItemInterface::\$title\.#'
		- '#Access to an undefined property Drupal\\image\\Plugin\\Field\\FieldType\\ImageItem::\$uri\.#'
		- '#Call to an undefined method Drupal\\Core\\Entity\\EntityInterface::\access\(\)\.#'
		- '#Call to an undefined method Drupal\\Core\\Entity\\EntityInterface::\get\(\)\.#'
