/**
 * @file
 * Provides flybox view based on blazybox.
 */

body.is-flybox--open {
  overflow: visible;
}

.b-flybox {
  backface-visibility: hidden;
  bottom: 0;
  left: 0;
  min-height: 236px;
  right: 0;
  top: auto;
  transform: translate3d(0px, 400%, 0px);
  transition: transform .6s, min-height .6s;
}

.b-flybox,
.b-flybox audio,
.b-flybox iframe,
.b-flybox video,
.b-flybox .blazybox__fullscreen {
  width: 100%;
  height: 236px;
}

.b-flybox .blazybox__html,
.b-flybox .blazybox__media,
.b-flybox .media {
  /* left: 0;
  top: 0;
  transform: none; */
  max-width: 100%;
}

.is-flybox--open .b-flybox {
  transform: translateY(0);
  z-index: 9999;
}

.is-flybox--closing .b-flybox {
  transition: .5s transform ease;
  transform: translateY(400%);
  z-index: 9999;
}

.b-flybox .media--box audio {
  bottom: 0;
  height: 100%;
  top: auto;
  transform: none;
}

.is-bbox--fh audio,
.is-bbox--fh iframe,
.is-bbox--fh video,
.is-bbox--fh .media,
.is-bbox--fh .blazybox__content,
.is-bbox--fh .blazybox__html,
.is-bbox--fh .blazybox__media {
  min-height: inherit;
  max-height: 100%;
}

/** 641px with 16px base font. */
@media only screen and (min-width: 40.063em) {

  /** Aspect ratio 16:9. */
  .b-flybox,
  .b-flybox audio,
  .b-flybox iframe,
  .b-flybox video,
  .b-flybox .blazybox__fullscreen {
    width: 420px;
    height: 236px;
  }

  .b-flybox .media--instagram iframe {
    width: auto;
  }

  .b-flybox {
    bottom: 2px;
    box-shadow: 0 0 0 2px #777;
    left: auto;
    right: 2px;
  }

  [dir="rtl"] .b-flybox {
    left: 2px;
    right: auto;
  }

  .b-flybox .blazybox__close {
    border: 1px solid #777;
    font-size: 12px;
    position: absolute;
    left: -8px;
    top: -8px;
    transform: none;
    width: 22px;
    height: 22px;
  }

  [dir="rtl"] .b-flybox .blazybox__close {
    left: auto;
    right: -8px;
  }
}
