/**
 * @file
 * Provides admin blazy layout.
 */

/* stylelint-disable selector-max-id, declaration-no-important */
.layout-builder .b-layout {
  min-height: 160px;
}

.layout-builder .b-layout .grid {
  background-color: #eaeaea;
}

.b-layout .grid {
  min-height: 64px;
}

.layout-builder .b-layout .region--b-bg {
  padding: 2em;
}

.layout-builder .b-layout .block {
  background-color: transparent;
}

.b-layout .layout-builder__add-block {
  position: absolute;
  z-index: 9;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
}

.layout-builder .grid .blazy__caption,
.layout-builder .grid .slide__caption,
.layout-builder .grid .box__caption {
  pointer-events: none;
}

/* Optionset. */
.form--optionset .details--settings .blazy--grid {
  min-height: 360px;
}

@media screen and (min-width: 1280px) {
  .form--optionset.b-tooltip .form-wrapper--regions-settings {
    min-width: 560px;
    padding-top: 15px;
  }

  /*
  .form--optionset .form-wrapper--regions-settings .form-item input:not(.form-checkbox),
  .form--optionset .form-wrapper--regions-settings .form-item select {
    width: 80px;
  } */

  .form--optionset .form-wrapper--table .form-item {
    max-width: 420px;
  }

  .form--optionset .form-wrapper--table .form-item--region-label {
    min-width: 120px;
  }
}
