/**
 * @file
 * Blur effect.
 *
 * While blurring animation impresses smoother transition, it is likely slow.
 * You can override this file, and change animation to just transition instead.
 */

@-webkit-keyframes blazyBlur {
  0% {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes blazyBlur {
  0% {
    transform: scale(1.04);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/**
Remove overflow as needed if CSS background is enabled, or on your own.
Basically the parent container should have overflow: hidden; to avoid unwanted
scaling. Adjust this.
.blazy {
  overflow: hidden;
}
*/

/* Non-js element. */
[data-animation="blur"] {
  filter: blur(6px);
}

/* Js dynamic classes during animation. */
.animated.blur {
  /* opacity: 1; */
  /* transition: opacity 500ms ease-in-out; */
  transition: none;
  /** will-change: transform, opacity; */
  -webkit-animation: blazyBlur 2s;
  animation: blazyBlur 2s;
}
