/**
 * @file
 * Blur effect
 */

@-webkit-keyframes blazyBlur {
  0% {
    -webkit-transform: scale(1.04);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@keyframes blazyBlur {
  0% {
    transform: scale(1.04);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/**
Remove overflow as needed if CSS background is enabled, or on your own.
.blazy {
  overflow: hidden;
}
*/

.b-lazy {
  filter: blur(6px);
  opacity: 1;
  /* transition: opacity 500ms ease-in-out; */
  transition: none;
  transform: scale(1.04);
}

.b-loaded {
  filter: blur(0);
  transform: scale(1);
  /** will-change: transform, opacity; */
  -webkit-animation: blazyBlur 1s ease-out;
  animation: blazyBlur 1s ease-out;
}
