/**
 * @file
 * Common modal utilities.
 */

/* csslint ignore:start */
@media screen and (min-width: 1200px) {
  /* Views UI. */
  .ui-dialog-content .form--blazy .form-item {
    margin: 0;
  }

  .ui-dialog-content .form--vanilla .form__header {
    font-size: 17px;
    min-height: 82px;
  }

  #drupal-off-canvas .form--half {
    background: none;
    border: 0;
    box-shadow: 0 0 0 4px #777;
    max-width: 100%;
    min-width: 100%;
    padding: 0;
  }

  #drupal-off-canvas .form--half .form-item--style > .description {
    min-width: 90%;
  }

  #drupal-off-canvas .form__half,
  #drupal-off-canvas .form--half .form-item {
    width: 100%;
  }

  #drupal-off-canvas .form--half .form-item {
    padding: 8px;
    position: relative;
    border-top: 0;
    border-right: 0;
    border-color: #777;
    height: auto;
    margin: 0;
    min-height: 32px;
  }

  #drupal-off-canvas .form--half fieldset.form-item {
    box-sizing: border-box;
    display: block;
    padding: 0;
  }

  #drupal-off-canvas .b-tooltip .form-item > .description,
  #drupal-off-canvas .b-tooltip .form-composite > .fieldset-wrapper > .description {
    background: #000;
    min-width: 100%;
    max-width: 100%;
  }

  #drupal-off-canvas .b-tooltip .form-item > .description {
    z-index: -1;
    display: none;
  }

  #drupal-off-canvas .form--media-switch-on .form-item--media-switch,
  #drupal-off-canvas .form--media-switch-lightbox .form-item--litebox,
  #drupal-off-canvas .form--media-switch-splidebox .form-item--ajax-link,
  #drupal-off-canvas .form--vanilla-off .form-item--media-switch {
    display: block !important;
  }

  #drupal-off-canvas .b-tooltip select,
  #drupal-off-canvas .b-tooltip input:not(.form-checkbox) {
    min-width: 140px;
  }

  #drupal-off-canvas .b-tooltip select,
  #drupal-off-canvas .b-tooltip input {
    height: auto;
    position: relative;
    z-index: 7;
  }

  #drupal-off-canvas .b-tooltip .form-item.is-hovered,
  #drupal-off-canvas .b-tooltip .form-item.is-selected {
    z-index: 10;
  }

  #drupal-off-canvas .b-tooltip .form-item.is-hovered > .description,
  #drupal-off-canvas .b-tooltip .form-item.is-selected > .description {
    display: block;
    z-index: 12;
  }

  #drupal-off-canvas .b-hint {
    background: #777;
    border-radius: 50%;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 7;
  }

  #drupal-off-canvas .b-nativegrid--form legend {
    width: 100%;
    max-width: 100%;
    padding: 0 !important;
  }

  #drupal-off-canvas .b-nativegrid--form .form__title,
  #drupal-off-canvas .b-nativegrid--form legend span {
    background-color: #2d2d2d;
  }

  #drupal-off-canvas .b-nativegrid--form legend span,
  #drupal-off-canvas .b-nativegrid--form h3,
  #drupal-off-canvas .b-nativegrid--form p {
    display: block;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  #drupal-off-canvas .b-nativegrid--form > h3,
  #drupal-off-canvas .b-nativegrid--form legend span {
    padding: 10px 0;
  }

  #drupal-off-canvas .b-nativegrid--form p {
    font-size: 12px;
    font-weight: 400;
  }

  #drupal-off-canvas .form--half .fieldset__wrapper {
    padding: 5px;
  }

  #drupal-off-canvas .form--half .form-item--style {
    height: auto;
    min-width: 0;
    top: 0;
  }

  #drupal-off-canvas .form--half fieldset .form-type-boolean {
    min-height: 32px;
    text-align: right;
  }

  #drupal-off-canvas .b-nativegrid--auto,
  #drupal-off-canvas .b-nativegrid--form .form-checkboxes,
  #drupal-off-canvas .form--half fieldset > div {
    border: 0;
  }

}
/* csslint ignore:end */
