/**
 * @file
 * Common modal utilities.
 */

/* csslint ignore:start */
@media screen and (min-width: 1200px) {
  /* Views UI. */
  .ui-dialog-content .form--blazy .form-item {
    margin: 0;
  }

  .ui-dialog-content .form--vanilla .form__header {
    font-size: 17px;
    min-height: 82px;
  }

  #drupal-off-canvas .form--half {/* csslint allow: ids */
    background: none;
    border: 0;
    box-shadow: 0 0 0 4px #777;
    max-width: 100%;
    min-width: 100%;
    padding: 0;
  }

  #drupal-off-canvas .form--half .form-item--style > .description {/* csslint allow: ids */
    min-width: 90%;
  }

  #drupal-off-canvas .form__half,
  #drupal-off-canvas .form--half .form-item {/* csslint allow: ids */
    width: 100%;
  }

  #drupal-off-canvas .form--half .form-item {/* csslint allow: ids */
    padding: 8px;
    position: relative;
    border-top: 0;
    border-right: 0;
    border-color: #777;
    margin: 0;
    min-height: 32px;
  }

  #drupal-off-canvas .b-tooltip .form-item > .description,
  #drupal-off-canvas .b-tooltip .form-composite > .fieldset-wrapper > .description {/* csslint allow: ids */
    background: #000;
  }

  #drupal-off-canvas .b-tooltip .form-item > .description {/* csslint allow: ids */
    z-index: -1;
    display: none;
  }

  #drupal-off-canvas .b-tooltip select,
  #drupal-off-canvas .b-tooltip input {/* csslint allow: ids */
    height: auto;
    position: relative;
    z-index: 7;
  }

  #drupal-off-canvas .b-tooltip .form-item.is-hovered,
  #drupal-off-canvas .b-tooltip .form-item.is-selected {/* csslint allow: ids */
    z-index: 10;
  }

  #drupal-off-canvas .b-tooltip .form-item.is-hovered > .description,
  #drupal-off-canvas .b-tooltip .form-item.is-selected > .description {/* csslint allow: ids */
    display: block;
    z-index: 12;
  }

  #drupal-off-canvas .b-hint {/* csslint allow: ids */
    background: #777;
    border-radius: 50%;
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 7;
  }

  #drupal-off-canvas .form--half fieldset {/* csslint allow: ids */
    box-sizing: border-box;
  }

  #drupal-off-canvas .form--half .fieldset__wrapper {/* csslint allow: ids */
    padding: 5px;
  }

  #drupal-off-canvas .form--half .form-item--style {/* csslint allow: ids */
    height: auto;
    min-width: 0;
    top: 0;
  }

  #drupal-off-canvas .form--half fieldset .form-type-boolean {/* csslint allow: ids */
    min-height: 32px;
    text-align: right;
  }

}
/* csslint ignore:end */
